/*Esto es un fragmento*/
@import "_body";

body{
    background: url(./img/fondo_blanco_ladrillo_cemento.jpg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    
}

header{
    display: grid;
    justify-content: last baseline;
    background-image: url(img/fondonegrorosa.webp);
    background-repeat: repeat;
    width: 100%;
    height: 300%;
    padding: 0%;
    }